.ordertime {
    .timelabel {
        margin: 0px 0px 20px 5px;
        color: #06a706;
        font-size: 15px;
        font-weight: 500;
    }

    span{
        margin: 28px;
        label{
          margin: 8px;
        }
    }
}

.isloooose{
    margin-top: 34px;
}