<div class="limiter">
    <div class="container-login100">
      <form class="login100-form validate-form">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-12">
                <div class="form-group ">
                  <label style="font-size: 20px;color: darkolivegreen;">
                    <strong>Version Control</strong>
                </label>
                </div>
              </div>

          <div class="col-md-12 col-sm-12 col-12">
            <div class="form-group ">
              <label class="text-danger">
                Version *
              </label>
              <input class="form-control" placeholder="Version" type="text">
            </div>
          </div>
 
          <div class="col-md-12 col-sm-6 col-12">
            <button type="button" class="btn-main-large">
              Change
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
