<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <select id="category" [(ngModel)]="master_category" name="master_category" [ngModelOptions]="{standalone: true}"
            class="form-control" (change)="setProductMainCategoryID($event.target.value)"
            [disabled]="isSelectDisabled()" style="margin-top: -58px;">
            <option value="" disabled>-- select --</option>
            <option *ngFor="let category of masterCategoryList" [value]="category.id">{{ category.name}}
            </option>
        </select>
    </div>
</div>



<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-teal">
            <div class="inner">
                <h3>{{dashboardStaticatics?.totalPurchase | customCurrency}}</h3>
                <p>{{'TOTAL_PURCHASE' | translate }}</p>
            </div>
            <div class="icon">
                <i class="fas fa-cart-plus"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-pink">
            <div class="inner">
                <h3>{{dashboardStaticatics?.totalSales  - deliveryTotalValue| customCurrency}}</h3>
                <p> {{'TOTAL_SALES' | translate }}</p>
            </div>
            <div class="icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{{dashboardStaticatics?.totalPurchaseReturn | customCurrency}}</h3>
                <p>{{'TOTAL_PURCHASE_RETURN' | translate}}</p>
            </div>
            <div class="icon">
                <i class="fas fa-undo"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{dashboardStaticatics?.totalSalesReturn | customCurrency}}</h3>
                <p>{{'TOTAL_SALES_RETURN' | translate}}</p>
            </div>
            <div class="icon">
                <i class="fas fa-undo"></i>
            </div>
        </div>
    </div>
</div>