h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding         : 15px;
}

.calender{
    width: 99%;
    margin: auto;
}

::ng-deep .cal-month-view .cal-day-cell{
    min-height: unset !important;
}